* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: josefin sans;
}

body {
    background-color: #fff;
}

.head-cont a h1 {
    color: crimson;
    font-size: 30px;
    margin: 30px 0 0 30px;
    position: absolute;
}

.btn-1 {
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    margin: 25px 0 0 1020px;
    border: 1px grey solid;
    background-color: royalblue;
    width: 90px;
}

.btn-1 a {
    color: white;
}

.btn-2 a {
    color: #838383;
}

.btn-2 {
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    margin: 25px 0 0 1150px;
    border: 1px grey solid;
    width: 80px;
}

.form #Lang {
    position: absolute;
    border: 0;
    margin: 30px 0 0 900px;
}

.mid-1 h1 {
    padding: 160px 600px 0px 100px;
    font-size: 80px;
    font-weight: 900;
    font-family: math;
}

.mid-1 p {
    padding: 40px 650px 0px 100px;
    font-size: 35px;
    color: darkgrey;
    font-weight: 600;
}

.poster img {
    margin: 200px 80px 0 0;
    float: right;
}

.btn-3 {
    border-radius: 3px;
    padding: 15px;
    position: absolute;
    margin: 30px 0px 0px 100px;
    border: 1px grey solid;
    width: 200px;
    background-color: royalblue;
}

.btn-3 a{
    color: white;
    font-size: 15px;
}

.image-2 img {
    margin: 110px 0 0 120px;
    position: absolute;
}